section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  .resume-item {
    .resume-content {}
    .resume-date {
      min-width: none;
    }
  }

  .col-md-8 {
    display: flex;

    .card-body {
      align-self: center;
    }
  }
}
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    padding-right: 2rem !important;
  }
}

#about {
  color: $gray-800;
  background-image: url('../img/background_r01.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: 100% 0%;
}

#skills .row {
  margin-bottom: 1.5em;
}